<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Add task to Project</strong>
  
</p>

<%= form_for :tasks, url: tasks_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
 <p>
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>




