<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Add task to Project</strong>
  
</p>

<%= form_for :task, url: tasks_path(@project) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
<p>
    <%= f.hidden_field :project_id, value: @project.id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>




